
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Create Trail Button</h2>
    <table>
        <tr>
            <th>Trail IDs</th>
            <th>TrailName</th>
            <th>TrailHeadLocation</th>
            <th>City</th>
            <th>State</th>
            <th>Creation Date</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Lincoln Woods Trailhead</th>
            <th>Kancamagus Hwy, Lincoln, NH 03251</th>
            <th>Lincoln</th>
            <th>New Hampshire</th>
            <th>CreateDate</th>
            <th>Button</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Champney Falls Trailhead</th>
            <th>Conway, NH 03818</th>
            <th>Albany</th>
            <th>New Hampshire</th>
            <th>CreateDate</th>
            <th>Button</th>
        </tr>
        <tr>
            <th>2</th>
            <th>Indian Head Trail</th>
            <th>664 US-3, Lincoln, NH 03251</th>
            <th>Lincoln</th>
            <th>New Hampshire</th>
            <th>CreateDate</th>
            <th>Button</th>
        </tr>
        </tr>
        <tr>
            <th>3</th>
            <th>Boulder Loop Trailhead</th>
            <th>Passaconaway Rd, Albany, NH 03818</th>
            <th>Albany</th>
            <th>New Hampshire</th>
            <th>CreateDate</th>
            <th>Button</th>
        </tr>
    </table>
</body>
</html>


